@{
    ViewData["Title"] = "Show";
    Product product1 = ViewBag.product1 as Product;
    Product product2 = ViewBag.product2 as Product;

}
<form asp-controller="Redis" method="post">

    <input type="submit" value="Add" formaction="Add" /> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Show" formaction="Show" /> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Delete" formaction="Delete" /> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="CacheImage" formaction="ImageCache" /> &nbsp;&nbsp;&nbsp;

</form>

<div class="text-center">
    <h1 class="display-4">Redis</h1>
    <h2>@ViewBag.product</h2>
    <h2>@ViewBag.producer</h2>

    <h2>@product1.Id, @product1.Name</h2>
    <h2>@product2.Id, @product2.Name</h2>

</div>

